{% extends 'main/no_auth_base.html' %}

{% block title %}
Log in page
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
	<form method="POST" class="form-group">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-success">Login</button>
		<p>Don't have an account? Create one <a href="/signup">here</a></p>
	</form>
{% endblock %}
