{% extends "main/base.html" %}

{% block title %}
Authenticated Base Page
{% endblock %}

{% block base_content %}
	{% if user.is_authenticated %}
		<div id="content", name="content">
			{% block content %}
			{% endblock %}
		</div>
	{% else %}
		<p>You are not signed in. Please <a href='/login'>Login Here</a></p>
		<p>Don't have an account? <a href='/signup'>Sign up Here</a></p>
	{% endif %}
{% endblock %}
