<html>
<head>
	<title>{% block title %}Cloud Computing Homework 1{% endblock %}</title>
	<style>
		{% block style %}
		{% endblock %}
	</style>
</head>

<body>
	<h3>Cloud Computing Homework 1</h3>
	<h4>Nick Chonko</h4>
	<h4>chonkona@mail.uc.edu</h4>
	<h4>M08762587</h4>
	<hr>
	{% if user.is_authenticated %}
		<p>Click <a href='/logout'>here</a> to log out</p>
		<hr>
	{% endif %}
	<div id="base_content", name="base_content">
		{% block base_content %}
		{% endblock %}
	</div>
</body>
</html>
