{% extends "main/auth_base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block style %}
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 2px;
}
{% endblock %}

{% block content %}
	<h4>User details</h4>
	<p>Click <a href='/data'>here</a> to edit your user data</p>
	<p>Email: {{user.email}}</p>
	<p>First Name: {{user.first_name}}</p>
	<p>Last Name: {{user.last_name}}</p>
	<hr>
	<h4>Files</h4>
	<p>This upload will only store .txt files</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="document">
		<button type="sumbit">Upload File</button>
	</form>
	<table>
		<tr>
			<th>File Name</th>
			<th>Count of Words</th>
			<th>Download Link</th>
		</tr>
		{% for user_file in user.files.all %}
			<tr>
				<td>{{user_file.name}}</td>
				<td>{{user_file.counts_of_words}}</td>
				<td><a href="/download/{{user_file.id}}">Download</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
