{% extends 'main/no_auth_base.html' %}

{% block title %}
Sign up page
{% endblock %}

{% block content %}
	<form method="POST" class="form-group">
		{% csrf_token %}
		{{form}}
		<button type="submit" class="btm btn-success">Sign Up</button>
	</form>
{% endblock %}
