{% extends "main/no_auth_base.html" %}

{% block title %}
Sign up success Page
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
	<p>You have successfully signed up!</p>
	<p>Click <a href='/login'>here</a> to sign in to your new account.</p>
{% endblock %}
