{% extends 'main/auth_base.html' %}

{% block title %}
User Details page
{% endblock %}

{% block content %}
	<p>Click <a href="/">here</a> to go back</p>
	<form method="POST">
		{% csrf_token %}
		<p>Email:<p>
		<input type=text, name=email_input>
		<p>First Name<p>
		<input type=text, name=first_name_input>
		<p>Last Name<p>
		<input type=text, name=last_name_input>
		<button type="submit" name="save" class="btm btn-success">Save</button>
	</form>
{% endblock %}
